</head>
<body>
  <nav>
    <a 
      href="/flights/new" class=<%= title === 'Add Flight' ? 'active' : '' %>
    >
      ADD Flight
    </a>
    <a 
    href="/flights" class=<%= title === 'All Flights' ? 'active' : '' %>
  >
    ALL Flights
    <a 
    href="/meals/new" class=<%= title === 'Add Meal' ? 'active' : '' %>
  >
    ADD Meal
  </a>
  </nav>